<h2>Contact me for further inquiries</h2>
<hr/>

<h2>Gregory M. Camp</h2>
<h2>1474 Mums Circle, Sandy, UT 84092</h2>
<h2>Phone: (801) 859-9591</h2>
<h2><a href="mailto:gregmcamp@gmail.com">Email Me</a></h2>
<hr/>

<h2><a href=http://localhost:4567/>Home</a></h2>
<h2><a href=http://localhost:4567/resume>Resume</a></h2>
<h2><a href=http://localhost:4567/education> Education</a><h2>
<h2><a href=http://localhost:4567/references> References</a><h2>