<head>
<h2>Education: </h2>
</head>
<hr/>

<div class='education'>
<h3>Utah Valley University - May 2009</h3>
<h3>Orem, UT</h3>
<p>Bachelors of Science Degree, Business Management</p>                          
<br/>

<h3>DevPoint Labs</h3>
<h3>Salt Lake City, UT    May 2016 (Proj. Completion)</h3>
<p>Full Stack Immersive</p>  
</div>

<hr/>

<h2><a href=http://localhost:4567/>Home</a></h2>
<h2><a href='/contact' class='contact_link'>Contact Me</a></h2>
<h2><a href=http://localhost:4567/resume>Resume</a></h2>
<h2><a href=http://localhost:4567/references> References</a><h2>

