<head>
<h2>Greg Camp: </h2>
</head>
<hr/>

<h2><a href='/contact' class='contact_link'>Contact Me</a></h2>
<h2><a href=http://localhost:4567/resume>Resume</a></h2>
<h2><a href=http://localhost:4567/education> Education</a><h2>
<h2><a href=http://localhost:4567/references> References</a><h2>