<head>
<h2>References: </h2>
</head>
<hr/>

<body>

<div class='names'>
<p><u><strong>David Elliott</strong></u></p>
<p>801.652.8213</p>
<p>Maintenance Renewals Manager</p>
<p>SolarWinds</p>
<p>david.elliott@solarwinds.com</p>
</div>
<br/>

<div class='names'>
<p><u><strong>Drew Kimball</strong></u></p>
<p>801.815.0205</p>
<p>Rx Team Manager</p>
<p>1-800 CONTACTS</p>
<p>drewkimball@hotmail.com</p>
</div>
<br/>

<div class='names'>
<p><u><strong>Jen Leckie</strong></u></p>
<p>216.392.4102</p>
<p>Ruckus Sales Director</p>
<p>Concentrix/Ruckus</p>
<p>leckiejen@gmail.com</p>
</div>
<br/>

<div class='names'>
<p><u><strong>Jaelyn Solomona</strong></u></p>
<p>801.867.8278</p>
<p>Websense Sales Director</p>
<p>Concentrix/Websense</p>
<p>jaelyn.solomona@concentrix.com</p>
<p>jsolomona@yahoo.com</p>
</div>
<br/>

<div class='names'>
<p><u><strong>Doug Facemyer</strong></u></p>
<p>801.910.5939</p>
<p>Websense Sales Account Manager</p>
<p>Concentrix/Websense</p>
<p>doug.facemyer1961@gmail.com</p>
</div>
<hr/>

<h2><a href=http://localhost:4567/>Home</a></h2>
<h2><a href='/contact' class='contact_link'>Contact Me</a></h2>
<h2><a href=http://localhost:4567/resume>Resume</a></h2>
<h2><a href=http://localhost:4567/education> Education</a><h2>


</body>
