
<head>
  <h2>Work Experience:</h2>
<head>
  <hr>
<body>
  <div class="job_title">
    <h3>SolarWinds</h3>
    <h4>Maintenance Account Manager</h4>  
    <h4>February 2014 to December 2015</h4>
  </div>

  <div class="job_duties">  
    <ul>
      <li>Quarterly manage 250+ accounts Commercial, FED and SLED accounts</li>
      <li>Overcome objectives through value selling with expanding features and benefits</li>
      <li>Expand footprint/ROI within accounts with Proof of Concept/Best Use Practices</li>
      <li>Align resources such as engineers, support and onsite partners for customers</li>
      <li>Assist in arranging corporate events</li>
    </ul>
  <br/>
  </div>

  <div class="job_title">
    <h3>Marketstar/Cisco</h3>
    <h4>Account Manager</h4>      
    <h4>April 2013 to October 2013</h4>
  </div>  

  <div class="job_duties">  
    <ul>
      <li>Manage all commercial accounts for Cisco in ID and MT</li>
      <li>Uncover new business within territory via calling campaigns</li>
      <li>Build quotes and help partners with registration pricing</li>
      <li>Assist customers with their architecture</li>
    </ul>
  <br/>
  </div>

  <div class="job_title">
    <h3>Concentrix/Encover</h3>
    <h4>Sales Supervisor for Websense</h4>      
    <h4>July 2012 to April 2013</h4> 
  </div>  

  <div class="job_duties">  
    <ul>
      <li>Motivate team members by conducting spiffs</li>
      <li>Helped team achieve 105% of available billings</li>
      <li>Coach low performers and new hires</li>
      <li>Time keeping for team members</li>
    </ul>
  <br/>
  </div>

  <div class="job_title">
    <h3>Concentrix/Encover</h3>
    <h4>Account Manager</h4>      
    <h4>January 2010 to July 2012</h4>
  </div> 

  <div class="job_duties">  
     <ul>
      <li>Consistently overachieved quota (126% in Q2 2012)</li>
      <li>Channel sales/Pipeline management for Cisco, CDW and Websense</li>
      <li>Facilitate sales by up-selling, cross-selling, renewing due customers</li>
      <li>Built quotes for resellers and customers</li>
    </ul>
  <br/>
  </div>

  <div class="job_title">
   <h3>1-800 CONTACTS</h3>
    <h4>Customer Service Representative</h4>        
   <h4>August 2005 to August 2009</h4>
  </div>

  <div class="job_duties">  
    <ul>
     <li>Incentives coordinator</li>
     <li>Assist customers with purchasing lenses</li>
     <li>Upsell to annual packages and Lens Solution</li>
    </ul>
  <br/>
  </div>

  <div class="job_title">  
    <h3>Salt Lake Community College (Trio)</h3>
    <h4>Math Tutor</h4>      
    <h4>August to December 2005</h4>
  </div>

  <div class="job_duties">  
    <ul>
      <li>Assisted students to understand course material</li>
      <li>Completed homework with students</li>
      <li>Made sure students passed their exams</li>
    </ul>
  </div>
  <hr/>

  <footer>
    <div class="links_res">
      <a href=http://localhost:4567/>Home</a>
      <a href=http://localhost:4567/education> Education</a>
      <a href=http://localhost:4567/references> References</a>
      <a href='/contact' class='contact_link'>Contact Me</a>
      <a href='http://localhost:4567'>Home</a>
    </div>
  </footer>

</body>  